{%include 'base.html'%}

{% block conteudo %}
<div class="mt-5">
        <a href="{{url_for('index')}}" class="btn btn-info">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Voltar
        </a>
        <a href="{{url_for('user_add_book', id=user.id)}}" class="btn btn-success">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Adicionar Livros
        </a>
        <table class="table table-striped mt-2">
                <thead>
                        <!-- cabecarios-->
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Profile Photo</th>
                        <th scope="col">Ações</th>
                </thead>
                <tbody>
                        <!--corpo-->
                        <tr>
                                <th scope="row">{{user.id}}</th>
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.profile.photo}}</td>
                                <td>
                                        <a href="{{url_for('delete', id=user.id)}} " class="btn btn-danger btn-sm">
                                                <i class="fa fa-trash" aria-hidden="true"></i> Deletar
                                        </a>
                                </td>
                        </tr>
                </tbody>
        </table>
        <h2 class="text-muted">Books:</h2>
        <ul class="list-group list-group-flush mt-3">
                {%for book in user.books%} <!--dessa forma acessamos os books relacionados ao user pelo backref-->
                        <li class="list-group-item">
                                {{book.name}}
                        </li>
                {%endfor%}
        </ul>


<br><br>
<!--url for pega o caminho dinamico da rota-->


{% endblock %}